@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

#navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#navLinks > * {
    cursor: pointer;
    padding: 1rem;
    font-weight: 600;
}

.activeNav {
    color: brown;
    position: relative;
}
.activeNav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px brown solid;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 88vh;
    background-image: url(./background.png);
    background-size: cover;
}
.brownTxt {
    color: brown;
}

#landingContactMe {
    margin-top: 3rem;
}
#landingContactMe > a {
    margin-right: 1.5rem;
}

.imgCircle {
    width: 20rem;
    border-radius: 50%;
}