body {
    background-image: url(https://www.xmple.com/wallpaper/gradient-pink-purple-linear-1920x1080-c2-6a5acd-ff1493-a-195-f-14.svg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
  }
  
  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  img {
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
  }
  
  main {
    background-color: rgba(255, 255, 255, 0.129);
    margin: 5%;
    padding: 3%;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.551);
  }
  #desc {
    text-align: center;
    width: 70%;
    margin: 2%;
    padding: 2%;
    margin-top: 0%;
  }
  #image {
    margin: 2%;
    padding: 2%;
    margin-bottom: 0%;
  }
  
  p {
    font-size: larger;
  }
  
  h1,
  h2 {
    color: white;
    text-align: center;
  }
  
  h1 {
    margin: 5%;
  }
  
  #links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5%;
  }
  
  #image p {
    font-size: 200%;
  }
  
  i {
    color: white;
  }