*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgba(0,0,0,0.8);
    display: inline-flex;
    
}
.navbar{
    height: 620px;
    width: 200px;
    background: rgba(0,0,0,0.8);
}
.navbar ul img{
    margin-left: 40px;
    margin-top: 30px;
    height: 110px;
    width: 110px;
    box-shadow: 0px 0px 5px white;
    border-radius: 50%;
}
.navbar ul li{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;

    border: 1px solid black;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
    list-style-type: none;
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid black;

}
.navbar ul li a{
    /* text-decoration: none; */
    color: white;
    font-family: monospace;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;

}
.navbar ul li:hover{
    text-decoration: solid;
}
.content{
    position: relative;
}
.content img{
    height: 720px;
    width: 1200px;
}
.container{
    position: absolute;
    top: 220px;
    left: 200px;
}
.container h1{
    color: white;
    font-family: monospace;
    font-size: 30px;
}
.container h3{
    color: white;
    font-family: monospace;
    font-size: 25px;
}
.container h5{
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
fieldset{
    box-shadow: 0px 0px 10px orange;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid orange;

}
a{
    text-decoration: none;
}
.zoom:hover{
    font-size: 21px;
}
.navbar a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar a:hover{
    font-size: 17px;
    color: rgb(221, 103, 103);
}
legend{
    color: rgb(160, 156, 156);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    /* background-color: black; */
    font-weight: 1000;
    text-shadow: 5em;
}
span{
    color: orange;
}
.links{
    position: absolute;
    top: 420px;
    left: 390px;
}
i{
    font-size: 25px;
}
.link{
    font-size: 25x;
    position: absolute;
    top: 83vh;
    left: 32vw;
}
i{
    padding-left: 30px;
}
i:hover{
    font-size: 40px;
}
.links ul{
    display: flex;
    list-style-type: none;
}
.links ul li{
    margin: 10px;
}
.links ul li a img{
    height: 30px;
    
}
select{
    height: 30px;
    text-align: center;
    margin-left:45px;
    background-color: black;
    font-family:cursive;
    border:none;
    color: white;
    transition: 0.4s ease;
    border-radius: 40px;
}
select:hover{
    box-shadow: 0px 0px 20px greenyellow;
    border: 1px solid greenyellow;
    color: white;
}