* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0%;
}
body {
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
  color: white;
  line-height: 1.6;
}

.navbar {
  background-color: rgb(24, 28, 48);
  height: 40px;
  left: 0;
  right: 0;
}
.home-container {
  float: left;
  padding: 5px;
}

.link-container {
  padding: 5px;
  padding-right: 100px;
  float: right;
}

.nav-links {
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
  font-size: large;
  padding: 5px 50px 5px 50px;
  margin: 5px;
}
.nav-links:hover {
  background-color: rgb(61, 40, 40);
  border-radius: 50px;
}

.home-link {
  color: white;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
  padding-left: 100px;
  padding-top: 5px;
  margin: 5px;
}

.about {
  margin-left: 300px;
  margin-top: 200px;
  width: 500px;
  float: left;
}

.about h1 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: orange;
}

.about h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aqua;
}

.about .neeraj {
  color: tomato;
}
.photo {
  float: right;
}
.photo img {
  margin-top: 100px;
  margin-right: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid rgb(241, 241, 103);
}

.contact {
  padding-top: 50px;
}
.contact span {
  padding: 10px;
}
.contact_logo {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 50px;
}
