@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    overflow: overlay;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #71639c;
    border-radius: 100px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: transparent;
}

.navlink{
    transition: all 0.25s;
}

.navlink[active]{
    background-color: #ff6ca5;
}

.div-ul{
    overflow: hidden;
    height: 0;
}

.closed{
    display: none;
}

.closing{
    animation: navup 0.5s forwards;
}

.visible{
    display: block;
    animation: navdown 0.5s forwards;
}

@keyframes navup{
    0%{
        height: 220px;
    }
    100%{
        height: 0;
    }
}

@keyframes navdown{
    0%{
        height: 0;
    }
    100%{
        height: 220px;
    }
}

@media (min-width:1024px){
    .div-ul{
        height: auto;
        animation: none;
    }

    .navlink[active]{
        padding: 0 0.5em;
        border-radius: 5px;
    }
}