* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(65, 65, 65);
}
.container {
  height: 450px;
  width: 400px;
  background: rgb(44, 44, 44);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow-y: auto;
}
#input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #181818;
  border: 2px solid rgb(24, 24, 24);
  color: #cccccc;
  padding: 0 10px;
  margin: 15px 0;
}
#input::placeholder {
  color: #bbb;
}
ul {
  color: #c7c7c7;
  height: auto;
  border-radius: 5px;
  margin: 15px 0;
}
.fa-check,
.fa-trash {
  cursor: pointer;
  font-size: 23px;
  padding: 10px;
}
.fa-check {
  color: rgb(61, 126, 61);
}
.fa-trash {
  color: rgb(136, 51, 51);
  margin-left: auto;
}

li {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #181818;
  margin: 7px auto;
  border-radius: 5px;
  padding-left: 10px;
}
