<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="user" />
      <input type="text" name="item" />
      <button type="submit">Add Item</button>
    </form>
    <div>
      <% all.forEach((item)=>{%>
      <div style="display: flex">
        <div style="margin-right: 20px"><%= item.user %></div>
        <div><%= item.item%></div>
      </div>
      <%})%>
    </div>
  </body>
</html>
